//컬러

$primary: #424242;
$secondary: #dbdbdb;
$tertiary: #f5f5f5;

$skyblue: #35c5f0;
$pink: #ff7777;
$black: #000000;
$white: #ffffff;

//border-radius

$radius-large: 6px;
$radius-small: 4px;

//animation-duration
$ani-duration: 0.2s;

//font-family
$font-main: 'Pretendard', '돋움', dotum, helvetica, 'Apple SD Gothic Neo', sans-serif, serif;

//분기점
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;

//gap
$sm-gap: 10px;
$md-gap: 15px;
$lg-gap: 20px;
