.hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

[class$='inner'] {
  position: relative;
  width: calc(100% - 48px);
  margin: 0 auto;

  @include responsive('T') {
    max-width: 1440px;
  }
}

.mb-only {
  @media screen and (min-width: $md-breakpoint) {
    display: none !important;
  }
}

.tb-only {
  @media screen and (max-width: ($md-breakpoint - 1)) {
    display: none !important;
  }

  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

.dt-only {
  @media screen and (max-width: ($lg-breakpoint - 1)) {
    display: none !important;
  }
}
