* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-main;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
dl,
dd,
button,
input,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

button,
input {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ol,
ul {
  list-style: none;
}

address,
em {
  font-style: normal;
}
